//跑馬燈動畫
.marqeeArea{
    width:100%;
    height:100vh;
    @include fixed($top:0);
    @include z-index(marquee);
    @each $name in $marqeeList{
        .marqee-#{$name}{
            position:absolute;
            background:url($marqee-text);
            background-position:center center;
            @if($name =='top'){ 
                top:0;
                width:100%;
                height:$marqee-height;
                @include animation(bgPositionX, 15s, $timing-function: linear, $delay: false, $iteration-count: infinite , $direction: normal);
            }
            @if($name =='bottom'){ 
                bottom:0;
                width:100%;
                height:$marqee-height;
                @include transform(rotate(180deg));
                @include animation(bgPositionX, 15s, $timing-function: linear, $delay: false, $iteration-count: infinite , $direction: normal);
            }
            @if($name =='left'){ 
                bottom:80px;
                left:80px;
                width:calc(100vh - 150px);
                height:$marqee-height;
                @include transform(rotate(-90deg));
                @include transform-origin(left bottom);
                @include animation(bgPositionY, 15s, $timing-function: linear, $delay: false, $iteration-count: infinite , $direction: normal);
                @include media-max('xs'){
                    display:none;
                }
            }
            @if($name =='right'){ 
                bottom:80px;
                right:80px;
                width:calc(100vh - 150px);
                height:80px;
                @include transform(rotate(90deg));
                @include transform-origin(right bottom);
                @include animation(bgPositionY, 15s, $timing-function: linear, $delay: false, $iteration-count: infinite , $direction: normal);
                @include media-max('xs'){
                    display:none;
                }
            }
        }
    }
}


@include keyframes(bgPositionY){
    0%{
        background-position:0px center;
    }
    100%{
        background-position:850px center;
    }
}

@include keyframes(bgPositionX){
    0%{
        background-position: 20px center;
    }
    100%{
        background-position:1730px center;
    }
}
